@import 'variables';

article {
    height: 1.4 * $cardWidth;
    width: $cardWidth;
    background: $cardBG;
    box-shadow: $shadow;
    border-radius: $radius;
    @include center;
    flex-direction: column;
    justify-content: space-between;

    aside{
        @include center;
        flex-direction: column;
        margin: 1rem;
        font-size: 1.6rem;

        &.top {
            align-self: flex-start;
        }
        &.bottom {
            align-self: flex-end;
            transform: rotateZ(180deg);
        }
        p {
            @include resetMP;
            &:nth-child(1) {
                color: red;
            }
        }
    }
    h1 {
        color: red;
        font-size: 4rem;
    }

}
