main {
  background-color:bisque;
  display:flex;
  height:calc(100vh - 100px);
  width:100%;
}

.eyeball {
  background:white;
  border:2px solid red;
  border-radius:100px;
  margin:auto;
  height:200px;
  width:210px;
  display:flex;
}

.blue {
  background:lightblue;
  width:80px;
  height:80px;
  border-radius:60px;
  margin:auto;
  display:flex;

}

.black {
  background:black;
  width:30px;
  height:30px;
  border-radius:30px;
  margin:auto;

}