body{ font-family:"Trebuchet MS", Helvetica, sans-serif; }
header{
    grid-area: header;
    background-color: lightblue;
}

nav{
    grid-area: nav;
    background-color: orange;
}

aside{
    grid-area: aside;
    background-color: lawngreen;
}

main{
    grid-area: main;
    background-color: pink;
}

.ar1{
    grid-area: ar1;
    background-color: lightgray;
}

.ar2{
    grid-area: ar2;
    background-color: lightgray;
}

/*phone*/
@media screen and (min-width: 350px){
    body {
        display: grid;
        gap: 15px;
        width: auto;
        height: 100vh;
        grid-template-columns:5fr 1fr;
        grid-template-rows:1fr 1fr 5fr 2fr 2fr;

        grid-template-areas:
        'header aside'
        'nav nav'
        'main main'
        'ar1 ar1'
        'ar2 ar2';
    }
}

/*tablet*/
@media screen and (min-width: 480px){
    body {
        display: grid;
        gap: 15px;
        width: auto;
        height: 100vh;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr 5fr 2fr 2fr;

        grid-template-areas:
        'nav aside'
        'header header'
        'main main'
        'ar1 ar1'
        'ar2 ar2';
    }
}

/*laptop*/
@media screen and (min-width: 940px){
    body {
        display: grid;
        gap: 15px;
        width: auto;
        height: 100vh;
        grid-template-columns:1fr 2fr 4fr;
        grid-template-rows:1fr 5fr 2fr;

        grid-template-areas:
        'nav header header'
        'aside main ar1'
        'aside ar2 ar1';
    }
}
