 // 2021-01-19, todo app
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    margin: 0;
    height: 100vh;
    @include center;
    font-family: 'PT Sans', sans-serif;
    background: $lightGrey;
    #app {
        max-width: 350px;
        width: 100%;
        box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
        header {
            display: flex;
            input {
                flex: 1;
                padding: 0.5rem;
                font-size: 1.4rem;
                border: none;
                background: $darkGrey;
                color: white;

                &:focus {
                    outline: none;
                }
            }
            .btn {
                width: 3rem;
                height: 3rem;
                background: $green;
                @include center;
            }

        }
        .todos {
            background: white;
            .todo {
                padding: 1rem;
                display: flex;
                font-size: 1.4rem;
                border-bottom: 1px solid rgba($color: $darkGrey, $alpha: 0.2);
                input {
                    margin: 0 1rem 0 0;
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }
        }
    }
}
