/*webbutveckling, grids, 2019-10-08*/
body{ font-family:"Trebuchet MS", Helvetica, sans-serif; }

#emil {
  display: grid;
  height: 97.5vh;
  grid-template-areas:
  'hd hd'
  'art1 nav'
  'art1 mn'
  'art2 mn'
  'art2 mn'
  'art3 mn'
  'art3 mn'
  'ft ft';
  grid-gap: 0.4em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5fr 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
}

header {
  grid-area: hd;
  background: LightGray;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  padding: 15px 20px 15px 20px;
}

nav {
  grid-area: nav;
  background: LightGray;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  padding: 15px 20px 15px 20px;
}

#art1 {
  grid-area: art1;
  background: LightGray;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  padding: 15px 20px 15px 20px;
}

#art2 {
  grid-area: art2;
  background: LightGray;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  padding: 15px 20px 15px 20px;
}

#art3 {
  grid-area: art3;
  background: LightGray;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  padding: 15px 20px 15px 20px;
}

main {
  grid-area: mn;
  background: LightGray;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  padding: 15px 20px 15px 20px;
}

footer {
  grid-area: ft;
  background: LightGray;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  padding: 15px 20px 15px 20px;
}
