:root {
  --main-text-color:red;
}

.item1 {
  color:var(--main-text-color);
}
.item2 {
  color:var(--main-text-color);
}
.item3 {
  color:var(--main-text-color);
}
.item4 {
  color:var(--main-text-color);
}
.item5 {
  color:var(--main-text-color);
}

h1 {
  color:var(--main-text-color);
}


